@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --main-blue-color: #8be9fd;
  --main-green-color: #50fa7b;
  --main-orange-color: #ffb86c;
  --main-pink-color: #ff79c6;
  --main-purple-color: #bd93f9;
  --main-white-color: #f8f8f2;
  --main-yellow-color: #e6db74;
  --main-font-family: "Inconsolata", monospace;
  --main-opacPurple-color: #6272a4;
}

body {
  font-size: 14px;
  color: white;
  background-color: #282a36;
  font-family: "Inconsolata", monospace;
}

a {
  color: #8be9fd;
  background-color: transparent;
  text-decoration: none;
}

.linkEmisora {
  font-size: 25px;
  color: #ff79c6;
  background-color: transparent;
  text-decoration: none;
  padding-top: 1em;
}

li {
  list-style: none;
  padding-top: 1em;
  text-align: center;
  padding-bottom: 1em;
}

i {
  font-size: 16px;
  color: var(--main-blue-color);
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
  background-color: #282a36;
}

@media screen and (max-width: 60em) {
  .container {
    grid-template-rows: repeat(4, 1fr);
  }
}

.grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  background-color: #282a36;
}

@media screen and (max-width: 60em) {
  .grid-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
}

.grid-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  background-color: #282a36;
}

@media screen and (max-width: 60em) {
  .grid-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
}

.grid-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  background-color: #282a36;
}

@media screen and (max-width: 60em) {
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
}

.grid-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 2;
  background-color: #282a36;
}

@media screen and (max-width: 60em) {
  .grid-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
}

.callout {
  margin: 0;
}

.tabla{
  margin-left: auto;
  margin-right: auto;
}
td {
  padding:0 10px 0 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  color: darkorange;
}

.YTDiv {
  padding-left: 1em;
}



